body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
small {
  text-align: left;
}
.container {
  margin-top: 50px;
  max-width: 900px;
}

.app-wrapper {
  margin: auto;
}
.app-border {
  padding: 15px;
  background-image: url("images/lake.jpg");
  background-repeat: no-repeat;
}
.my-weather-app {
  color: #5a4257;
  padding: 10px;
}
.searched-summary-container {
  float: left;
  width: 250px;
  text-align: center;
}
.summary-list {
  list-style: none;
}

.place-name {
  font-weight: 600;
  text-decoration: underline wavy;
}
.search-form-container {
  padding: 20px;
  float: right;
  max-width: 500px;
}
.search-form {
  float: right;
  margin: 0px;
  max-width: 450px;
}

.popover-container {
  padding-top: 180px;
}
.banner {
  background: #5a4257;
  border: #5a4257;
  opacity: 0.85;
  border-radius: 12px;
  margin-left: 10px;
  margin-right: 10px;
}
.btn:hover {
  background: #f7f2f2;
  color: #5a4257;
}
.btn {
  color: #f7f2f2;
  background: #5a4257;
  opacity: 0.85;
  border: #5a4257;
}
.description-icon {
  float: left;
}
.priority-container {
  height: 200px;
  margin-top: 50px;
}
.col-auto {
  padding-left: 0px;
}
.priority-bar {
  max-width: 230px;
  font-size: small;

  margin: auto;
}

.units {
  font-weight: 800;
}
.units .active {
  color: #5a4257;
  cursor: text;
  text-decoration: none;
}
.units .active .hover {
  cursor: default;
}
.current-description {
  text-transform: capitalize;
}

.btn-secondary {
  height: 86px;
}
