body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #1b666c;
}
small {
  text-align: left;
}

.app-wrapper {
  margin-top: 50px;
}
.app-border {
  padding: 15px;
  background-color: rgb(162, 209, 202);
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  width: 800px;
  height: 600px;
}
.my-weather-app {
  color: #ce656c;
  padding: 10px;
}
.searched-summary {
  float: left;
  font-size: 16px;
  font-weight: 550;
  color: #1b666c;
  width: 250px;
  text-align: center;
}
.current-summary {
  list-style: none;
}

.searched-form {
  padding: 20px;
  float: right;
  max-width: 500px;
}
.search-form {
  float: right;
  margin: 0px;
  max-width: 450px;
}
.form-control {
  background: #ede8e6;
  border: #ce656c;
}
.form-control:focus {
  color: #1b666c;
  background-color: #e4e5e3;
  border-color: #1b666c;
  box-shadow: 0 0 0 0.25rem rgb(25 112 122 / 25%);
}
.card-container {
  padding-top: 120px;
  padding-left: 0px;
  padding-right: 0px;
}
.icon {
  font-size: 40px;
}

.search-button:hover {
  background: #e4e5e3;
  color: #1b666c;
}
.search-button {
  color: #e4e5e3;
  background: #1b666c;
  opacity: 0.9;
  border: #1b666c;
}
.btn-secondary {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 550;
  color: #1b666c;
}
.btn-secondary:hover {
  background: none;
}

.description-icon {
  float: left;
}
.priority-container {
  height: 200px;
  margin-top: 50px;
}
.col-auto {
  padding-left: 0px;
}
.priority-bar {
  max-width: 230px;
  font-size: small;
  margin: auto;
}

.units {
  font-weight: 800;
}
.units .active {
  color: #1b666c;
  cursor: text;
  text-decoration: none;
}
.units .active .hover {
  cursor: default;
}
.current-description {
  text-transform: capitalize;
}
